# .dockerignore

# Exclude node_modules
node_modules/

# Exclude logs
*.log

# Exclude build artifacts
/dist

# Exclude temporary files
*.tmp
*.temp

# Exclude environment files
.env

# Add any other files or directories you want to exclude for your Docker build